/* li hover 시 텍스트 크기 1.2배, 색상 #fdfdfd, font-weight bold 적용 */
.li-btn-hover-effect {
    transition: all 0.2s ease;
  }
  
  .li-btn-hover-effect:hover {
    transform: scale(1.0.5);
    color: #d8fbff;
    font-weight: bold;
  }
  